/*
 * Стили панели администрирования
 */

/*Меню админки*/
#dvAdmMenu{
    width: 200px;
}

#dvAdmMenu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Блок с контроллами управления текущей страницы*/
#dvAdmPanel{
    margin-bottom: 15px;
    width: 780px;
    float: right;
}

/*Левое боковое меню Админки*/
.ulLeftSidebar ul{
    width: 120%;
    margin-left: 5px !important;
    display: none;
}
.ulLeftSidebar ul li{
    width: 230px;
}

.ulLeftSidebar ul li{
    padding: 5px;
}

.ulLeftSidebar ul li a{
    padding: 5px 10px;
    font-size: 16px;
}
.ulLeftSidebar ul li a{text-decoration: none}
.ulLeftSidebar ul li:hover{

    background: #e8f4fc;
}

/* Это кнопка меню фиксированого размера*/
.ulLeftSidebar .btnSilver{
    width: 200px;
}
/*----------РАБОТАЕМ С ПОЛЬЗОВАТЕЛЕМ----------*/

.status{
    margin-top: 10px;
    margin-left: -15px;
}

/*---Добавление пользователя---*/
/*Стандартный размер инпутов*/
#dvAdmPanel .inpColor.Fx{width: 250px;margin: 10px 20px;}

#dvAdmPanel #sex{display: inline-block;margin-left: 20px;}

/*Кнопка сохранения пользователя*/
.SaveUser{
    margin-left: 45px;
}

/*Кнопка Изменения пользователя*/
.FixUser{
    padding: 0;
    margin-left: 20px;
    width: 260px;
    text-align: center;
}

.icon-load{
    vertical-align: middle;
    display: none;

}

/*---------НОВОСТИ----------*/
/*Поле заголовка новости*/
.inpColor.NewsTitle{
    margin: 10px;
    width: 660px;
}
/*Поля ввода новостей*/
#txtNewsPre,#txtNewsFull{
    width: 700px;
    height: 350px;
}

/*Имя источника*/
.inpColor.ReferName,.ReferLink{
    margin-top: 15px;
    width: 335px;
}

/*Кнопка добавления новости*/
.btnSilver.News{
    margin-top: 20px;
    margin-left: 500px;
}

/*Блок с кнопками управления для создания тестов*/
.dvQstTools {
    padding: 10px;
    border-top: 1px solid #ccc;
}
.dvTstTools {
    padding: 10px;

}
.tstQuestions{
    height: 100px;
}
.dvTstTools td {
    padding: 5px;
    width: 220px;
}
.admVarDel {
    width: 30px;
    text-align: center;
}
.admVarIsText {
    width: 30px;
    text-align: center;
}

.admVarCorr {
    width: 30px;
    text-align: center;
}
.admVarBall {
    width: 30px;
    text-align: center;
}
#tstVariants {
 margin-bottom: 100px;
}
#dvRdctQuestion {
    padding-bottom: 10px;
}
#dvRdctVariant {
    padding-bottom: 10px;
}
#dvAdmTstCreateContent table, #dvAdmTstCreateContent table{
    text-align: left !important;
}
#tblVariants th{
    padding: 5px;
}
.set-pointer {
    cursor: pointer;
}
#tblVariants input[type=text] {
    margin: 0;
}
.admVarText {
    width: 500px;
}
.dvTstTools .radio {
    font-size: 10px;
}
.tstToolTitle {
    color: #15689D;
    display: block;
}

.trCreatedQuestion {
    font-weight: bolder !important;
    background-color: #FFDE89;
}
.green {
    /*background-color: #c5e6c5;*/
    /*border: 3px solid #c5e6c5;*/
}
.spnCreatedBalls {
    border-bottom: 2px solid #eee;
    color: #15689D;
    cursor: help;
}
.admStatus {
    width: 60px;
}

.tdCreatedVariantd {

}
label:hover {
    cursor: pointer;
}

.tstSettings {
    border-bottom: 1px dotted #08C;
    text-decoration: none !important;
    font-weight: normal;
}

#dvTstInput {
    margin-top: 5px;
}

/*Изображение выполнения операции*/
.imgLoading {
    vertical-align: middle;
    padding-bottom: 5px;
}

/*Изображения дополнительного статуса вопросов и вариантов*/
.questVarStatus {
    margin-top: -2px;
    cursor: help;
}

/*Столбец для отметки правильных вариантов ответа*/
.admCorrect {
    width: 20px;
}

/* Кнопочка изменения подкатегории в админке */
.changeCategory, .delCategory {
    font-size: 10px;
    margin-left: 10px;
    opacity: 0;
}
.changeCategory:hover , .delCategory:hover {
    text-decoration: none;
    /*border-bottom: 1px dashed #005580;*/
    opacity: 1 !important;
}

/* Скрытый поначалу блок клторый содержит поля для изменения одной категории */
.dvChangeCat {
    width: 175px;
    padding: 5px;
}
.dvChangeCat input {
    width: 160px;
    
}

/* Делаем ячейки таблицы со списком категорий одинакового размера */
#tblCategoriesList td:nth-child(2n) {
    width: 185px;
}
#tblCategoriesList tbody:first-child tr:first-child td {
    padding-top: 0 !important;
}

/* Блок с категорией и ее подкатегориями в списке категорий */
.tbCategory{
    border-top: none !important;
}

/* Выделяем строку с категорией */
.tbCategory tr:first-child{
    font-weight: bolder;
}
.tbCategory tr:first-child td{
    padding-top: 20px;
    border-top: none !important;
}

/* при наводе курсора на ячейку таблицы со списком категорий показываем кнопку редактирования */
.tbCategory td:hover .changeCategory, .tbCategory td:hover .delCategory{
    opacity: 0.5;
}

/*  Строка с вопросом который нужно удалить */
.toDel {
    background-color: red !important;
}

/* Блок с инструментами на странице списка вопросов */
.dvQuestionListTools a{
}
.dvQuestionListTools .toolDelQuestions, .dvQuestionListTools .toolKindList{
    height: 20px;
    display: block;
}
.dvQuestionListTools .toolKindList a:hover, .dvQuestionListTools .toolDelQuestions a:hover {
    border-bottom: 1px dashed #ccc;
    color: #08c;
}
.dvQuestionListTools small{
    color: #ccc;
    font-size: smaller;
}
.dvQuestionListTools .toolKindList {
    margin-left: 20px;
}
.dvQuestionListTools a.checked {
    color: #ccc;
}
.dvQuestionListTools a.checked:hover {
    color: #ccc;
    border-bottom: none;
}

a.btnExtra {
    margin:  0 5px;
}
a.btnExtra:hover {
    border-bottom: 1px dashed #CCC;
    color: #08C;
}

#getQuestion {
    margin-left: 5px;
}

small.smallie{
    color: #ccc;
    font-size: smaller;
}