/*
 * Стили панели администрирования
 */

/*Меню админки*/
#dvAdmMenu{
    width: 200px;
}

/*Блок с контроллами управления текущей страницы*/
#dvAdmPanel{
    margin-bottom: 15px;
    width: 700px;
    float: right;
}

/*Левое боковое меню Админки*/
.ulLeftSidebar ul{
    width: 120%;
    margin-left: 10px;
    display: none;
}
.ulLeftSidebar ul li{
    width: 230px;
}

.ulLeftSidebar ul li{
    padding: 5px;
}

.ulLeftSidebar ul li a{
    padding: 5px 10px;
    font-size: 16px;
}
.ulLeftSidebar ul li a{text-decoration: none}
.ulLeftSidebar ul li:hover{

    background: #e8f4fc;
}

/* Это кнопка меню фиксированого размера*/
.ulLeftSidebar .btnSilver{
    width: 200px;
}
/*----------РАБОТАЕМ С ПОЛЬЗОВАТЕЛЕМ----------*/

.status{
    margin-top: 10px;
    margin-left: -15px;
}

/*---Добавление пользователя---*/
/*Стандартный размер инпутов*/
#dvAdmPanel .inpColor{width: 250px;margin: 10px 20px;}

#dvAdmPanel #sex{display: inline-block;margin-left: 20px;}

/*Кнопка сохранения пользователя*/
.SaveUser{
    margin-left: 45px;
}