/*
 * Стили панели администрирования
 */

/*Меню админки*/
#dvAdmMenu{
    width: 280px;
}

/*Блок с контроллами управления текущей страницы*/
#dvAdmPanel{
    margin-bottom: 15px;
    width: 700px;
    float: right;
}