/*
 * Стили которые необходимы на всех страницах сайта
 */

/*Белая клетка в качестве фона на всех страницах*/
html{background: url("../img/bg_white.png");}

/*Общий блок, в котором весь сайт*/
#root{margin: 0 auto;width: 1000px;}

/*Шапка сайта: логотип и главное меню*/
header{padding: 15px 0;}


/*Главное навигационное меню сайта*/
nav{float: right;padding: 20px 0;}

    nav ul li{display: inline;margin-right: 15px;}



/*Подвал (ссылки на технические страницы)*/
footer{clear: both;margin-top: 20px;background: #e2e2e2;}

    footer div{margin: 0 auto;width: 920px;padding: 25px;font-size: 12px;text-align: center;color: #858485;}

    footer div a{color: #858485;text-decoration: none;margin: 0 5px;}

/*Поля ввода с цветным сиянием (по умолчанию выделяет синим)*/
.inpColor{padding: 5px;border: 1px solid #ccc;outline: none;border-radius: 4px;-webkit-transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;}

.inpColor:focus{border: 1px solid #fafafa;box-shadow: 0 0 5px #1772ac;}

    /*Красное сияние (для невалидных полей)*/
    .inpColor.Red{box-shadow: 0 0 5px #d00;}

/*Цветная большая кнопка (по умолчанию синяя)*/
.btnColor{background: #222 url("../img/btnColor.png") repeat-x;display: inline-block;padding: 8px 13px 9px;
	    color: #fff;text-decoration: none;border-radius: 5px;box-shadow: 0 1px 3px rgba(0,0,0,0.5);text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	    border-bottom: 1px solid rgba(0,0,0,0.25);position: relative;cursor: pointer;background-color: #1b86ca;}

    .btnColor:hover{background-color: #1772ac;color: #fff;text-decoration: none;}

    .btnColor:active{top: 1px;}

/*Выдавленый текст (заголовки второстепенных страниц, слоган на главной)*/
.spnTitle{text-shadow: -1px -1px #15689d, 1px 1px #15689d;color: #FFF;font-weight: bold;}
    /*Тот же выдавленный но, в качестве заголовка второстепенных страниц*/
    .spnTitle.Page{margin-bottom: 10px;padding: 10px;font-size: 22px;background: url("../img/bg_blu_small.png");border-radius: 5px;}

/*Контейнер контента для второстепенных страниц*/
#dvContent{}

/*Подсказка, почему неправильно заполнено поле*/
.spnNotCorrect{visibility: hidden; position: absolute; font-size: 11px; color: #991111;}

/*Ячейка с флагом правильности заполнения поля*/
.status {visibility: hidden; position: absolute;}

/*Placeholder для IE*/
.placeholder{
    color: #999999;
}

/*Верхние хинты*/
        .hint
        {
            z-index: 9999;
            -webkit-background-size: 40px 40px;
            -moz-background-size: 40px 40px;
            background-size: 40px 40px;
            background-image: -webkit-gradient(linear, left top, right bottom,
                                                        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                                                        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                                                        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                                                        to(transparent));
            background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
            -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
            box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
            width: 100%;
            border: 1px solid;
            margin-left: -8px;
            color: #fff;
            padding: 10px 30px;
            position: fixed;
            _position: absolute;
            text-shadow: 0 1px 0 rgba(0,0,0,.5);
            -webkit-animation: animate-bg 1s linear infinite;
            -moz-animation: animate-bg 1s linear infinite;
            font-size: 16px;
        }

        /*верхний хинт вывода информационного сообщения (синий)*/
        .info
        {
            background-color: #4ea5cd;
            border-color: #3b8eb5;
        }

        /*верхний хинт вывода сообщения об ошибке (красный)*/
        .error
        {
                 background-color: #de4343;
                 border-color: #c43d3d;
        }

        /*верхний хинт вывода предупреждающего сообщения (коричневый)*/
        .warning
        {
                 background-color: #eaaf51;
                 border-color: #d99a36;
        }

        /*верхний хинт вывода успешного сообщения (зеленый)*/
        .success
        {
                 background-color: #61b832;
                 border-color: #55a12c;
        }

        /*анимация верхних хинтов для webkit-браузеров*/
        @-webkit-keyframes animate-bg
        {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -80px 0;
            }
        }

        /*анимация верхних хинтов для mozilla-браузеров*/
        @-moz-keyframes animate-bg
        {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -80px 0;
            }
        }
 /*-----------------END HINTS-------------------*/

/*Silver Кнопки с иконками*/
.btnSilver{
        display: inline-block;
        white-space: nowrap;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        /*background-image: linear-gradient(top, #eee, #ccc);*/
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
        border: 1px solid #777;
        padding: 0 1.5em;
        margin: 0.5em;
        font: bold 1em/2em Arial, Helvetica;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.btnSilver:hover{
        text-decoration: none;
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        /*background-image: linear-gradient(top, #fafafa, #ddd);*/
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.btnSilver:active{
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
}

.btnSilver:focus{
        outline: 0;
        background: #fafafa;
}

.btnSilver:before{
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        border-radius: .15em 0 0 .15em;
        pointer-events: none;
}


/*================ Кнопка "еще" в хедере ======================*/
/*.flowing*/
/*{*/
  /*position: relative;*/

  /*cursor: pointer;*/
  /*display: inline-block;*/
  /*text-decoration: none;*/
  /*color: #222;*/
  /*outline: none;*/

/*}*/

/*.more*/
/*{*/
  /*display: none;*/
  /*position: absolute;*/
  /*margin-top: 10px;*/
  /*z-index: 999;*/
  /*width: 110px;*/
    /*height: 210px;*/
  /*margin-left: -50px;*/
  /*padding: 10px;*/
  /*opacity: 1;*/
  /*background-color: #eee;*/
  /*border: 1px solid #ccc;*/
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);*/

/*}*/

/*.more:before,*/
/*.more:after*/
/*{*/
  /*content: "";*/
  /*position: absolute;*/
  /*z-index: 1000;*/
  /*top: -8px;*/
  /*left: 50%;*/
  /*margin-left: -8px;*/
  /*border-bottom: 8px solid #eee;*/
  /*border-left: 8px solid transparent;*/
  /*border-right: 8px solid transparent;*/
  /*border-top: 0;*/

/*}*/

/*.more:before*/
/*{*/
  /*border-bottom-color: #ccc;*/
  /*top: -9px;*/
/*}*/
/*---------------------------------------------------------*/

/* ============================== Все что относиться к поиску ======================================================= */

    /* ===== Пагинаци для поиска ==== */

    /* Блок с номерами страниц */
    /*#dvPagination {height: 40px;}*/

    /*кнопка с номером страницы*//*
    .pagination {
        width: 10px;
        height: 10px;
        float: left;
        background-color: #98c5e4;
        border-radius: 3px;
        margin-right: 5px;
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
    }
    .pagination:hover {
        color: #ffffff;
        text-decoration: none;
        cursor: pointer;
        background-color: #70aed9;
    }*/

    /* Текущая страница */
    /*.selected {*/
        /*background-color: #2c74a6;*/
    /*}*/
    /* ------------------------------ */

    /* ===== Результаты поиска ====== */
    /*Блок с одним результатом*/
    .webResult {
        padding: 5px;
        line-height: 18px;
    }
    .webResult:hover{
        background-color: #ececec;
    }
    /*Заглавие найденого*/
    .resultTitle{
        font-size: 18px;
    }
    /*Превью найденого*/
    .resultContent{
        font-size: 12px;
    }
    /*Ссылка найденого*/
    .resultUrl{
        color: #006505;
    }
    .resultUrl:hover{
        color: #008200;
    }
    /* ------------------------------ */


    /* Вывод сообщений перед результатами поиска */
    .searchTitle {
        height: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        margin-top: 5px;
        font-size: 16px;
        font-weight: bold;
        color: graytext;
    }

/* ------------------------------------------------------------------------------------------------------------------ */

#menu_more {
    z-index: 1000;
    text-align: left;
    display: block;
    position: absolute;
    left: 1080px;
    top: 70px;
    background-color: #ededed;
    border:1px solid rgb(206,206,206);
    border:1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#menu_more {
    display:none;
}

.products:hover #menu_more {
    display:block;
}

.products:active #menu_more {
    display:block;
}

.products:focus #menu_more {
    display:block;
}

#menu_more .accent {
    margin-top: -15px;
    background: url(../../stfile/img/menu_more/bg_blu_small.png) no-repeat 59px 0px;
    height: 15px;
    margin-left: 147px;
}

#menu_more ul {
    margin: 7px 7px;
    padding: 0;
    background-color: #fff;
}

#menu_more li {
    display: block;
    border-top: 1px solid #ededed;
}

#menu_more li:hover {
    text-decoration: none;
    background-color: #f5f5f5 ;
    text-shadow: 0px 1px 0px 3px rgb(240,240,240); /* IE7 */
    text-shadow: 0px 1px 0px 3px rgba(255,255,255,0.75);
}

#menu_more li a:hover {
    text-decoration: none;
}

#menu_more li a {
    margin: 0 5px;
    padding: 8px 0px 6px 48px;
    width: 180px;
    display: block;
    text-transform: none;
    font-size: .8em;
    color: #8e8e8e;
    background: url(../../stfile/img/questions/comment-icon.png) no-repeat 10px 9px;
}

#menu_more li {
    margin-right: 0;
}

#menu_more li.evernote a {
    /*background-image:url('/about/media/img/product_icons/evernote-25.png');*/
}

#menu_more li.skitch a {
    /*background-image:url('/about/media/img/product_icons/skitch-25.png');*/
}

#menu_more li.clearly a {
    /*background-image:url('/about/media/img/product_icons/clearly-25.png');*/
}

#menu_more li.food a {
    /*background-image:url('/about/media/img/product_icons/food-25.png');*/
}

#menu_more li.hello a {
    /*background-image:url('/about/media/img/product_icons/hello-25.png');*/
}

#menu_more li.peek a {
    /*background-image:url('/about/media/img/product_icons/peek-25.png');*/
}

#menu_more li a span.evn_prod {
    margin: 0;
    padding: 0 0 2px 0px;
    display: block;
    font-size: 1.4em;
    color: #404040;
    font-weight: bold;
    line-height: 1em;
}

.products {
    display: inline;
    padding-bottom: 20px;
}

/*Класс для запрета выделения текста*/
.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
/* =========================================== Форма поиска в главном меню ========================================== */
.search-bar {
    float: right;
    margin-top: -3px;
    /*height: @menu_height;*/
}

.search-bar fieldset {
    height: 25px;
    width: 150px;
    border-radius: 3px;
    background-color: #ffffff;
    padding-left: 5px;
}
#frm-search {
    margin: 0;
}
.search-bar input {
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
    height: 25px;
    font-size: 14px;
}

.search-bar .search-input{
    width: 120px;
    padding: 0 0 0 5px ;
}

.search-bar .search-input:focus{
    box-shadow: none;
    border: none;
}

fieldset:focus{
    padding: 100px;
}

.search-bar .btn-search {
    width: 20px;
    box-shadow: none;
    background-color: #ffffff;
    background: url("/stfile/img/sprite.png") no-repeat;
    text-indent: -9999px;
    background-position: 0px 0px;
}
.search-bar .btn-search:hover {
    background: url("/stfile/img/sprite.png") no-repeat;
    background-position: -23px 0px;
    cursor: pointer;
}

.search-bar .btn-search:active {
    opacity: 0.8;
}

/*суперглавный класс для анмарджина*/
.unmargin {
    margin: 0;
}

/* блок с списком категорий для вопроса */

.tab-pane td {
    width: 190px;
}

/*  Блок с добавлением своих категорий для вопроса */
#dvAddingCategory {

}


/* Блок с екстра настройками */
.extraConfig {

}
.extraContent {
    display: none;
    margin-top: 10px;
}
.extraContent .toolItem {
    float: left;
    margin-right: 10px;
}
.extraNav {

}
.extraNav a{
    text-decoration: none;
    border-bottom: 1px dashed #08C;
}
.extraNav a:hover{
    text-decoration: none;
    border-bottom: 1px dashed #005580;
}
/* ============ Ярлычки выбранных категорий ============= */
.label-tags {
    float: right;
    /*text-align: center;*/
    margin-left: 10px;
    position: relative;
    min-width: 20px;
    height: 20px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #7EC77E;
    padding-left: 5px;
    /*background-image: url("../../stfile/img/1loading.gif");*/
    /*background-position: -10px;*/
    /*padding-left: 5px;*/
    /*background-repeat: no-repeat;*/

}
.label-tags span {
    float: left;
}
/* текст внутри меток */
.label-tags p {
    padding: 2px;
    font-size: 9px;
    font-weight: bold;
    text-transform: lowercase;
    color: #404040;
}
.label-tags p:hover{
    cursor: pointer;
    /*color: #000000;*/
}



/* ------------------------------------------------------ */
/*Блок с метками выбраных категорий*/
.dvCategoryLabel {
    /*float: left;*/ display: inline-block; width: 100%;height: 35px;padding-top: 10px;
}
.removeTag {
    background-image: url("../../stfile/img/questions/tags-remove.png");
    background-repeat: no-repeat;
    background-position: 0px 1px;
    display: block;
    float: right;
    height: 15px;
    width: 10px;
    opacity: 0.3;
    padding-left: 3px;
}
.removeTag:hover {
    opacity: 1;
}

/*Текст выбраных категорий*/
.dvCategoryLabel h6 {
    display: inline-block; margin-top: 0;color: #a9a9a9;
}

/* блочек с одной подкатегорией в списке доступных подкатегорий для вопроса */
.subcatItem {
    float: left;
    width: 180px;
}
.innerTabPane {
    width: 575px;
    float:right;
}

/* Блок с прогрессом загрузки */
.iconLoading {
    width: 20px;
    height: 20px;
    display: none;
    margin-left: 5px;
}

/* span0 которого нет в бутстрапе */
.span0 {
    width: 20px;
    float: none !important;
}

/* блок для иконки размером 24px */
.icon24 {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url("/stfile/img/sprite.png");
}

/* Иконки размером 24px */
.icon24-clock {
    background-position: 0 -24px;
}
.icon24-clock.checked {
    background-position: 0 -48px;
}
.icon24-graph {
    background-position: -48px -24px;
}
.icon24-graph.checked {
    background-position: -48px -48px;
}
.icon24-lamp {
    background-position: -24px -24px;
}
.icon24-lamp.checked {
    background-position: -24px -48px;
}
.icon24-check {
    background-position: -72px -24px;
}
.icon24-check.checked {
    background-position: -72px -48px;
}


/* Ячейки в таблицах с определенной информацией */
td.time {
    font-size: smaller;
    text-align: center !important;
    color: #888;
}
td.rating {
    font-size: smaller;
    text-align: center !important;
    color: #888;
}
td.answers {
    font-size: smaller;
    text-align: center !important;
}

/* Таблица со списком вопросов */
.questionsList {
    margin-left: 0 !important;
}
.questionsList td{
    vertical-align: middle !important;
}
.questionsList thead tr:hover{
    background-color: #ffffff;
}
.questionsList tr:hover{
    background-color: #f6f6f6;
}

/* Иконка удаления вопроса */
.delQuestion {
    opacity: 0.2;
}
.delQuestion:hover {
    opacity: 1;
}

/*Блок с тегами возле каждого вопроса*/
.spnTags {
    white-space: nowrap;
}
.spnTags a {
    color: #bbb;
    font-size: smaller;
}
.spnTags a:hover{
    color: #888;
    border-bottom: none !important;
    text-decoration: none;
}


/* Сделаем наконец переопределение для ссылок и уберем text-decoration */
a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: none !important;
}
/*   ---------------------------------------------------------------   */

/* Клас для центрирования по горизонтали */
.centered {
    margin: 0 auto !important;
}

/* Ссылка для вопросов которые закрыты */
.qClosed {
    color: #f9244c;
}
.qClosed:hover {
    color: #b30525;
}







/*  ================================================================================================================  */
/*  ================================================================================================================  */
/*  ====================================== Data picker & Time picker================================================  */
/*  ================================================================================================================  */
/*  ================================================================================================================  */
/*!
* Datepicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.datepicker {
    top: 0;
    left: 0;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /*.dow {
    border-top: 1px solid #ddd !important;
    }*/
}
.datepicker.dropdown-menu {
    z-index: 1010;
}
.datepicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}
.datepicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}
.datepicker > div {
    display: none;
}
.datepicker table {
    width: 100%;
    margin: 0;
}
.datepicker td, .datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker td.day:hover {
    background: #eeeeee;
    cursor: pointer;
}
.datepicker td.old, .datepicker td.new {
    color: #999999;
}
.datepicker td.active, .datepicker td.active:hover {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
    background-color: #0044cc;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
    background-color: #003399 \9;
}
.datepicker td span {
    display: block;
    width: 47px;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 2px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.datepicker td span:hover {
    background: #eeeeee;
}
.datepicker td span.active {
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
    background-color: #0044cc;
}
.datepicker td span.active:active, .datepicker td span.active.active {
    background-color: #003399 \9;
}
.datepicker td span.old {
    color: #999999;
}
.datepicker th.switch {
    width: 145px;
}
.datepicker thead tr:first-child th {
    cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
    background: #eeeeee;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.bootstrap-timepicker.dropdown-menu {
    z-index: 1010;
    border-radius: 4px 4px 4px 4px;
    display: none;
    left: 0;
    margin-top: 1px;
    padding: 4px;
    top: 0;
}
.bootstrap-timepicker.dropdown-menu.open {
    display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    left: 6px;
    position: absolute;
    top: -7px;
}
.bootstrap-timepicker.dropdown-menu:after {
    border-bottom: 6px solid #FFFFFF;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    left: 7px;
    position: absolute;
    top: -6px;
}
.bootstrap-timepicker.modal {
    margin-left: -100px;
    margin-top: 0;
    top: 30%;
    width: 200px;
}
.bootstrap-timepicker.modal .modal-content {
    padding: 0;
}
.bootstrap-timepicker table {
    margin: 0;
    width: 100%;
}
.bootstrap-timepicker td, .bootstrap-timepicker th {
    border-radius: 4px 4px 4px 4px;
    height: 20px;
    text-align: center;
}
.bootstrap-timepicker td.separator {
    width: 1px;
}
.bootstrap-timepicker td a {
    border: 1px solid transparent;
    display: block;
    margin: 4px;
    padding: 4px 0;
}
.bootstrap-timepicker td a:hover {
    background-color: #EEEEEE;
    border-color: #DDDDDD;
    border-radius: 4px 4px 4px 4px;
}

