/*
 * Стили которые необходимы на всех страницах сайта
 */

/*Белая клетка в качестве фона на всех страницах*/
html{background: url("../img/bg_white.png");}

/*Общий блок, в котором весь сайт*/
#root{margin: 0 auto;width: 1000px;}

/*Шапка сайта: логотип и главное меню*/
header{padding: 15px 0;}

/*Главное навигационное меню сайта*/
nav{float: right;padding: 20px 0;}

    nav ul li{display: inline;margin-right: 15px;}



/*Подвал (ссылки на технические страницы)*/
footer{clear: both;margin-top: 20px;background: #e2e2e2;}

    footer div{margin: 0 auto;width: 920px;padding: 25px;font-size: 12px;text-align: center;color: #858485;}

    footer div a{color: #858485;text-decoration: none;margin: 0 5px;}

/*Поля ввода с цветным сиянием (по умолчанию выделяет синим)*/
.inpColor{padding: 5px;border: 1px solid #ccc;outline: none;border-radius: 4px;-webkit-transition: .3s ease-in-out;-moz-transition: .3s ease-in-out;}

.inpColor:focus{border: 1px solid #fafafa;box-shadow: 0 0 5px #1772ac;}

    /*Красное сияние (для невалидных полей)*/
    .inpColor.Red{box-shadow: 0 0 5px #d00;}

/*Цветная большая кнопка (по умолчанию синяя)*/
.btnColor{background: #222 url("../img/btnColor.png") repeat-x;display: inline-block;padding: 8px 13px 9px;
	    color: #fff;text-decoration: none;border-radius: 5px;box-shadow: 0 1px 3px rgba(0,0,0,0.5);text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	    border-bottom: 1px solid rgba(0,0,0,0.25);position: relative;cursor: pointer;background-color: #1b86ca;}

    .btnColor:hover{background-color: #1772ac;color: #fff;text-decoration: none;}

    .btnColor:active{top: 1px;}

/*Выдавленый текст (заголовки второстепенных страниц, слоган на главной)*/
.spnTitle{text-shadow: -1px -1px #15689d, 1px 1px #15689d;color: #FFF;font-weight: bold;}
    /*Тот же выдавленный но, в качестве заголовка второстепенных страниц*/
    .spnTitle.Page{margin-bottom: 10px;padding: 10px;font-size: 24px;background: url("../img/bg_blu_small.png");border-radius: 5px;}

/*Контейнер контента для второстепенных страниц*/
#dvContent{}

/*Подсказка, почему неправильно заполнено поле*/
.spnNotCorrect{visibility: hidden; position: absolute; font-size: 11px; color: #991111;}

/*Ячейка с флагом правильности заполнения поля*/
.status {visibility: hidden; position: absolute;}

/*Placeholder для IE*/
.placeholder{
    color: #999999;
}

/*Верхние хинты*/
        .hint
        {
            -webkit-background-size: 40px 40px;
            -moz-background-size: 40px 40px;
            background-size: 40px 40px;
            background-image: -webkit-gradient(linear, left top, right bottom,
                                                        color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                                                        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                                                        color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                                                        to(transparent));
            background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                                                        transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                                                        transparent 75%, transparent);
            -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
            -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
            box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
            width: 100%;
            border: 1px solid;
            margin-left: -8px;
            color: #fff;
            padding: 10px 30px;
            position: fixed;
            _position: absolute;
            text-shadow: 0 1px 0 rgba(0,0,0,.5);
            -webkit-animation: animate-bg 1s linear infinite;
            -moz-animation: animate-bg 1s linear infinite;
            font-size: 16px;
        }

        /*верхний хинт вывода информационного сообщения (синий)*/
        .info
        {
            background-color: #4ea5cd;
            border-color: #3b8eb5;
        }

        /*верхний хинт вывода сообщения об ошибке (красный)*/
        .error
        {
                 background-color: #de4343;
                 border-color: #c43d3d;
        }

        /*верхний хинт вывода предупреждающего сообщения (коричневый)*/
        .warning
        {
                 background-color: #eaaf51;
                 border-color: #d99a36;
        }

        /*верхний хинт вывода успешного сообщения (зеленый)*/
        .success
        {
                 background-color: #61b832;
                 border-color: #55a12c;
        }

        /*анимация верхних хинтов для webkit-браузеров*/
        @-webkit-keyframes animate-bg
        {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -80px 0;
            }
        }

        /*анимация верхних хинтов для mozilla-браузеров*/
        @-moz-keyframes animate-bg
        {
            from {
                background-position: 0 0;
            }
            to {
                background-position: -80px 0;
            }
        }
 /*-----------------END HINTS-------------------*/

/*Silver Кнопки с иконками*/
.btnSilver{
        display: inline-block;
        white-space: nowrap;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
        border: 1px solid #777;
        padding: 0 1.5em;
        margin: 0.5em;
        font: bold 1em/2em Arial, Helvetica;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.btnSilver:hover{
        text-decoration: none;
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.btnSilver:active{
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
}

.btnSilver:focus{
        outline: 0;
        background: #fafafa;
}

.btnSilver:before{
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        border-radius: .15em 0 0 .15em;
        pointer-events: none;
}
